---
import { getEntry, getCollection, render } from 'astro:content';
import ProjectPreview from '../../components/ProjectPreview.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';

const { id } = Astro.params;
const project = await getEntry('projects', id as string);

if (!project) {
    return Astro.redirect('/404');
}

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
const projectIndex = projects.findIndex((p) => p.id === project.id);
const prevProject = projectIndex + 1 !== projects.length ? projects[projectIndex + 1] : null;
const nextProject = projectIndex !== 0 ? projects[projectIndex - 1] : null;

const { title, description, seo, publishDate } = project.data;
const { Content } = await render(project);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} publishDate={publishDate} showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="font-serif text-3xl leading-tight font-medium sm:text-5xl sm:leading-tight">{title}</h1>
        </header>
        <div class="prose sm:prose-lg max-w-none">
            <Content />
        </div>
    </article>
    {
        (prevProject || nextProject) && (
            <div class="my-16 sm:my-24">
                <h2 class="mb-12 font-serif text-xl italic sm:mb-16 sm:text-2xl">View Next</h2>
                {nextProject && <ProjectPreview project={nextProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
                {prevProject && <ProjectPreview project={prevProject} class="mb-10 sm:mb-12" headingLevel="h3" />}
            </div>
        )
    }
</BaseLayout>
